<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<title>{{ page.title | default: site.title }}</title>
{% seo %}
<div class="navbar">
  <ul id="nav">
  <li><a href="https://dcstang.github.io/">Home</a></li>
  <li><a href="https://dcstang.github.io/portfolio">Portfolio</a> </li>
  <li><a href="https://dcstang.github.io/blog">Blog</a></li>
  <li><a href="https://dcstang.github.io/about">About</a></li>
  </ul>
</div>
