---
---

@import "theme";

//nav-bar css
#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    font-family: 'Nunito Sans', sans-serif;
    @include fluidType(16px, 19px);
    background-color: black;
    clear: both;
    height: 58px;
    padding: 0 0 0 9px;
    position: relative;
    width: 100%;
}
#nav ul {
    background-color: #222;
    border:1px solid #222;
    border-radius: 0 5px 5px 5px;
    border-width: 0 1px 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    z-index: 2;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transition: -moz-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
}
#nav li {
    background-color: black;
    float: left;
    position: relative;
}
#nav li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: normal;
    height: 30px;
    padding: 23px 20px 0;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
#nav li:hover > a {
    color: #00B4FF;
}

#nav ul li {
    background: none;
    width: 100%;
}
#nav ul li a {
    float: none;
}
#nav ul li:hover > a {
    color: #00B4FF;
}

/*
#nav li:nth-of-type(5):hover ~ #lavalamp {
    left: 330px;
}
#nav li:nth-of-type(6):hover ~ #lavalamp {
    left: 410px;
}
#nav li:nth-of-type(7):hover ~ #lavalamp {
    left: 490px;
}
#nav li:nth-of-type(8):hover ~ #lavalamp {
    left: 565px;
}
*/



// Textures
.texture-black {
    background-image: url('{{ site.baseurl }}/assets/textures/black.jpg');

    h2 {
        color: #999;
    }
}

.texture-blue {
    background-image: url('{{ site.baseurl }}/assets/textures/blue.jpg');

    h2 {
        color: #ddd;
    }

    .social i:hover {
        color: #eee;
    }

    .post-date {
        color: #ccc;
    }
}

.texture-red {
    background-image: url('{{ site.baseurl }}/assets/textures/red.jpg');
}

.texture-purple {
    background-image: url('{{ site.baseurl }}/assets/textures/purple.jpg');
}

.texture-green {
    background-image: url('{{ site.baseurl }}/assets/textures/green.jpg');

    .post-date {
        color: #ccc;
    }
}

.texture-red,
.texture-purple {
    h2 {
        color: #ccc;
    }

    .social i {
        color: #ddd;

        &:hover {
            color: lighten(#ddd, 7%);
        }
    }

    .post-date {
        color: #ddd;
    }
}
