<!DOCTYPE html>
<html lang="en">
<head>
  <style>
	body {margin:0;}

	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	  position: fixed;
	  top: 0;
	  width: 100%;
	}

	li {
	  float: left;
	}

	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	li a:hover:not(.active) {
	  background-color: #111;
	}

	.active {
	  background-color: #4CAF50;
	}
	</style>
	</head>
	<body>

	<ul>
	  <li><a class="active" href="https://dcstang.github.io">Home</a></li>
	  <li><a href="https://dcstang.github.io/about.html">About</a></li>
	</ul>

  {%- include head.html -%}
</head>
<body>
  <header class="texture-{{ site.texture.style }}">
    <div class="container">
      {%- include nav.html -%}
    </div>
    {%- include post_header.html -%}
  </header>
  <main>
    <div class="container">
      <div class="post-container">
          {{ content }}
      </div>

        <!-- Configure Disqus -->
      {%- if site.texture.disqus_shortname -%}
        <div id="disqus_thread" style="margin-top:25px"></div>
        <script>
          var disqus_config = function () {
            this.page.url = '{{ page.url | absolute_url }}';
            this.page.identifier = '{{ page.url | absolute_url }}';
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://{{ site.texture.disqus_shortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {%- endif -%}
    </div>
  </main>
  {%- include footer.html -%}
</body>
</html>
